$font-main: 'Josefin Sans', sans-serif;
$font-secondary: 'Bitter', serif;
$font-third: 'Alata', serif;

$font-100: 100;
$font-300: 300;
$font-400: 400;
$font-500: 500;

$col-white: #fff;
$col-black: #000;